matplotlib
numpy
ipywidgets
scipy
jupyter
cite2c
econ-ark
pandas
pandas-datareader
statsmodels
dolang
altair
-e git+https://github.com/Econforge/dolo.git#egg=dolo
tqdm
altair
jupyterlab>=1.0
jupytext
matplotlib
dataclasses
